<div th:fragment="header" class="container">
	<nav class="d-flex justify-content-center py-3">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<button class="nav-link quest-button" id="q1"> 구현 1 </button>
			</li>
			<li class="nav-item">
				<button class="nav-link quest-button" id="q2"> 구현 2 </button>
			</li>
			<li class="nav-item">
				<button class="nav-link quest-button" id="q3"> 구현 3 </button>
			</li>
			<li class="nav-item">
				<button class="nav-link quest-button" id="q4"> 구현 4 </button>
			</li>
		</ul>
	</nav>
</div>