<div th:fragment="header" class="container">
	<nav class="d-flex justify-content-center py-3">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<button class="nav-link quest-button" id="q1"> 구현 1 </button>
			</li>
			<li class="nav-item">
				<button class="nav-link quest-button" id="q2"> 구현 2 </button>
			</li>
			<li class="nav-item">
				<button class="nav-link quest-button" id="q3"> 구현 3 </button>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<button class="nav-link quest-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="q4"> 구현 4 </button>
					<div class="dropdown-menu" aria-labelledby="q4">
						<button class="dropdown-item" id="q4-add">추기</button>
						<button class="dropdown-item" id="q4-delete">삭제</button>
						<button class="dropdown-item" id="q4-update">수정</button>
					</div>
				</div>
			</li>
		</ul>
	</nav>
</div>